.footer-container{
  background:#0b67d4;
  text-align:center;
  height:300px;
}

.footer-container:before{
  content:"";
  display:table;
}

.footer-container .footer-img{
  margin-top:30px;
}

.footer-container .nav1{
  margin-top:30px;
  box-sizing:border-box;
}

.footer-container .nav1 li{
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
  letter-spacing: 3px;
  color:#ffffff;
  margin-right:20px;
  transition:all .5s linear;
}

.footer-container .nav1 li:hover{
  color:#ff0000;
}

.footer-container .nav2{
  display:block;
  text-align:center;
  margin-top:30px;
  box-sizing:border-box;
}
.footer-container .nav2 li{
  display:inline-block;
  margin-right:20px;
}

.footer-container .nav2 li span{
  font-size:20px;
  font-weight:400;
  color:#ffffff;
  transition:all .5s linear;
}

.footer-container .nav2 li span:hover{
  color:#147efb;
}
.footer-container p{
  margin-top:30px;
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
}
